.container {
    background-image: url(./rick-and-morty-portal.png);
    background-size: 780px 780px;
    background-repeat: no-repeat;
    background-position: center;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;

    height: 800px;
}

.form {
    width: 600px;
    border-radius: 20px;
}

.loginText {
    display: flex;

    background-color: rgb(255, 255, 255, 0.6);
    border-radius: 20px;
    border: #373737 1px solid;
    width: 150px;
    height: 50px;
    padding-bottom: 5px;
    align-items: center;
    justify-content: center;
}

.inputBox {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 30px 40px 30px 40px;
    background-color: rgb(255, 255, 255, 0.6);

    margin: 0 60px 15px 60px;
    border-radius: 20px;
    padding: 20px;

    border: #373737 1px solid;
}

.divEmail {
    grid-column: 1;
    grid-row: 1;
    
    text-align: right;
    padding-top: 1px;
    padding-right: 8px;
}

.inpEmail {
    grid-column: 2;
    grid-row: 1;
    border-radius: 5px;

    border: #373737 1px solid;
    padding-left: 10px;
}

.emailError {
    grid-column: 1 / 3;
    grid-row: 2;

    height: 100%;
    text-align: right;
    padding-right: 10px;
}



.divPassword {
    grid-column: 1;
    grid-row: 3;

    text-align: right;
    padding-top: 1px;
    padding-right: 8px;
}

.inpPassword {
    grid-column: 2;
    grid-row: 3;
    border-radius: 5px;

    border: #373737 1px solid;
    padding-left: 10px;
}

.passwordError {
    grid-column: 1 / 3;
    grid-row: 4;

    text-align: right;
    padding-right: 10px;
}

.btn {
    margin-bottom: 30px;
    width: 200px;
    height: 30px;
    border-radius: 10px;
    border: #373737 1px solid;
}