.container {
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: row-reverse;
    min-height: 769px;
    background-color: #b4ccb9;
    box-shadow: 0 10px 20px rgba(128, 128, 128, 0.3);
    align-items: center;
    justify-content: center;
    align-content: flex-end;
}

.filterBox {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #b4ccb9;
    box-shadow: 0 10px 20px rgba(128, 128, 128, 0.3);
    padding: 5px;
    gap: 10px;
    width: 100%;
}